// ==========================================================================
// SOUND GLOBAL STYLES
// ==========================================================================


// Variables and Colours
@import "variables";

// Breakpoints & Layout
@import "layout";

body {
    font-family: 'Roboto', sans-serif;
}

.toast{
    background-color: $orangeColour !important;
    font-weight: 500 !important;
}